.login-form {
    background-color: var(--yellowpink);
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.login-form form {
    padding-left: 20px;
    width: 45%;
}

.login-form label {
    position: relative;
}

.login-form input {
    top: -5px;
    padding: 10px;
    position: absolute;
    left: 100px;
    width: 30vw;
    border-radius: 5px;
    border: 2px solid lightgray;
}

#inlog-header {
    padding-bottom: 30px;
}

.login-form button {
    margin-top: 20px;
    padding: 10px;
}

#click-login-button {
    margin-left: 20px;
    width: 200px;
}

.login-form .right-side {
    width: 40vw;
    object-fit: cover;
    margin-right: 20px;
    position: relative;
}

#wild-garlic {
    width: 100%;
}

.login-form #text-photo {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 0.8em;
}

.login-form button {
    margin-top: 20px;
}

#click-login-button {
    margin-left: 20px;
    width: 200px;
}

