button {
    background-color: var(--green);
    border: transparent;
    font-size: 1em;
}

.button--round {
    width: calc(var(--baseFont) * 2);
    height: calc(var(--baseFont) * 2);
    padding: calc(var(--baseFont) * 0.5);
    font-size: calc(var(--baseFont) * 0.9);
    border-radius: 50%;
}

.button--round-yellow {
    background-color: var(--yellowpink);
}

.button--round-brown {
    background-color: var(--purplebrown);
    color: white;
}

.button--ellips {
    width: 120px;
    padding: calc(var(--baseFont) * 0.5);
    border-radius: 0.5em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}

.button--ellips-yellow {
    background-color: var(--yellowpink);
}



