.recipes__ul {
    margin-top: 2em;
}

.recipes__div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    width: calc(100vw - 7em);
}

.recipes__li {
    border-radius: 0.5em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
    flex-basis: 18em;
    list-style-type: none;
    text-align: center;
    background-color: var(--green);
    padding-bottom: 1em;
}

.recipes__a {
    text-decoration-line: none;
    padding: 1em;
}

.recipes__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.7em;
    padding-bottom: 1em;
    width: 15em;
    height: 15em;
    object-fit: cover;
}


