.recipes-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*.recipes__image {*/
/*    margin: 0 auto;*/
/*    display: block;*/
/*    width: calc(100vw - 4em);*/
/*}*/

.recipes-page ol {
    padding-left: 20px;
}

.recipes-page li {
    margin-bottom: 10px;
}