.recipe-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*left-side............................................*/
.recipe-page .left-side {
    position: fixed;
    top: 100px;
    background-color: var(--green);
    width: 32%;
    border-radius: 10px;
}

.div--empty {
    background-color: var(--green);
    width: 35%;
    border-radius: 10px;
}

.recipe-page li {
    margin-left: 10px;
    margin-bottom: 10px;
}

.recipe-page .recipe__description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.recipe-page .counterPersons {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.recipe-page #amountOfPersons {
    margin-right: 10px;
}

.recipe-page .recipe-age__ingredient {
    position: relative;
}

.recipe-page .ingredient__label {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}

.recipe-page input[type="checkbox"] {
  margin-right: 6px;
}

/*.recipepage input[type="checkbox"]:checked {*/
/*    background: var(--green);*/
/*}*/

.recipe-page .ingredient__label p {
    padding-right: 3px;
}

.recipe-page .counteringredient {
    background-color: #A8C256;
    border: 1px solid transparent;
    color: white;
    border-radius: 50%;
    margin-right: 6px;
    padding: 5px;
}

.recipe-page .recipe-page__descriptions {
    margin-left: 20px;
    width: 55%;
    background-color: var(--yellowpink);
    padding: 20px;
}

/*right side.........................................*/

.recipe-page img {
    width: 100%;
    margin-bottom: 20px;
}

.recipe-page p, .recipe-page span, .recipe-page li {
    font-size: 0.8rem;
}

.recipe-page #source {
    font-size: 0.6rem;
}

.recipe-page #months, #utensils, #tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

.recipe-page .times {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.recipe-page .time {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.recipe-page .time p {
    margin: 0;
    padding: 0;
}

.recipe-page #utensilsheader {
    margin-top: 10px;
}

.recipe-page #instruction {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.recipe-page #step {
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: var(--green);
    margin-right: 20px;
    padding: 10px;
    color: white;
}

.recipe-page #tags {
    margin-top: 20px;
}

.recipe-page #month, .recipe-page #tag {
    text-align: center;
    width: 100px;
    border: 2px solid var(--green);
    border-radius: 10px;
    background-color: var(--green);
    color: white;
    padding: 2px;
}

/*bottom.......................................*/
#backtohome {
    margin-top: 20px;
}