* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #A8C256;
    --yellowpink: #F3D9B1;
    --purplebrown: #481620;
    --blue: #1C6E8C;
    --pinkred: #D55672;
    --baseFont: 16px;
}

body {
    background-color: var(--green);
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
}

h2, h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    background-color: var(--green);
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}

a {
    color: black;
}


