
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: merriweather, sans-serif;
}

:root {
    --green: #A8C256;
    --yellowpink: #F3D9B1;
    --purplebrown: #481620;
    --blue: #1C6E8C;
    --pinkred: #D55672;
    --baseFont: 16px;
    --position--left: 12em;
}

body {
    background-color: var(--green);
    margin: 0 auto;
    max-width: 1200px;
}

.page {
    background-color: var(--yellowpink);
    padding: 2em;
    margin-left: 1em;
    margin-right: 1em;
}

/*css on page where left text and right photo................*/
.left-side {
    padding-left: 1em;
    width: 40vw;
}

.right-side {
    width: 40vw;
}

/*photo.....................................................*/
.photo {
    width: 100%;
}

.photo-caption {
    color: black;
    font-size: calc(var(--baseFont)*0.7);
}

/*font-size.................................................*/
h1 {
    font-size: calc(var(--baseFont) * 1.6);
    padding-bottom: 0.5em;
}

h2 {
    font-size: calc(var(--baseFont) * 1.4);
    padding-bottom: 1em;
}

h3 {
    font-size: calc(var(--baseFont) * 1.2);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

p{
    font-size: var(--baseFont);
    /*padding-bottom: 0.2em;*/
    line-height: 1.5em;
}

.p__line-height {

}

li {
    font-size: var(--baseFont);
    line-height: 1.6em;
}

/*anchor tags.................................................*/
a {
    color: black;
}


