.users {
    border-collapse: collapse;
    width: 90%;
    margin-bottom: 2em;
}

.users td, .users th {
    border: 2px solid var(--green);
    padding: 0.8em;
}

.users tr:nth-child(even) {
    background-color: var(--green);
}

.users tr:hover {
    background-color: var(--pinkred);
}

.users th {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
    background-color: var(--purplebrown);
    color: white;
}

.label__select {
    width: 2em;
    padding: 0.3em;
    border-radius: 0.5em;
    border: 2px solid lightgray;
    font-size: var(--baseFont);
}

@media print {
    .print__button {
        display: none;
    }
}


